@font-face{
    font-family: 'Good Mood';
    src: url('./assets/font/GoodMood.otf');
}

.menu{
    padding-top: 40px;
    font-size: 24pt;
    margin-left: 10%;
}
.menu li a {
    display: table;
    color: black;
    vertical-align: middle;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
}

.menu li a:hover{
    font-size: 26pt;
}

.menu li {
    display: table;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    list-style: none;
    text-align: center;
    transition-property: all .2s linear 0s;
}
.nav-logo{
    width:60px;
    float:left;
    padding:0 19% 0 3%;
}
body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    background-size: 100% auto !important;
    font-family: 'Good Mood';
    
    margin: 0;
    padding: 0;
    background-image: url(./assets/images/white-crinkled-paper-texture.jpg);
    min-width: 100%;
    background-color: white;
    background-position: center bottom;
    background-blend-mode: luminosity;
}

.banner{
    padding-top: 25vh;
    width:20%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.banner img{
    padding: 10px;
}

.about-us{
    padding-top: 13vh;
    position: absolute;
    width:100%;
    left: 0;
    right: 0;
    margin: auto;
}
.content{
    padding:5px 115px;
    width:50%;
    float:left;
    font-size: 26px;
    text-transform: uppercase;
    text-align: justify;
}

.bubbles{
    width:30%;
    float:left;
}

.image-one{
    margin-left:-50px;
    position: relative;
    width: 45%;
    min-height: 28vh;
    background: url(./assets/images/dinosaur.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-two{
    margin-left: 150px;
    margin-top: -115px;
    position: relative;
    width: 28%;
    min-height: 17vh;
    background: url(./assets/images/coala.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-three{
    margin-left: 20px;
    margin-top:25px;
    position: relative;
    width: 34%;
    min-height: 21vh;
    background: url(./assets/images/elephant.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-four{
    margin-left: 200px;
    margin-top:-130px;
    position: relative;
    width: 53%;
    min-height: 33vh;
    background: url(./assets/images/bee.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact{
    padding-top: 29vh;
    width:20%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 50px;
}

.email a{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.phone a{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.phone{
    height: 40px;
    padding:10px 15px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 32px;
    width: 100%;
}
.buttons{
    margin: 0 auto;
    display: table;
}

.socialmediaButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
    padding: 0 30px;
}

.socialmediaButton img{
    height: 30px;
}

  

.insta img:hover,
.fb img:hover,
.vimeo img:hover{
    height: 38px;
}